body {
    background-color: black;
    color: white;
}

.heading {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.form input, .form button {
    padding: 10px;
}

.main-container {
    padding: 50px;
    margin: auto;
    border: 1px solid white;
    height: 700px;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border: 1px solid white;
    height: 500px;
    column-gap: 100px;
}


.search-container input, .search-container button{
    padding: 10px;
}
